services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: business_backend
    environment:
      - ADMIN_API_KEY=super-secret-key-123
      - DATABASE_URL=postgresql+psycopg2://business_app:super-strong-password-change-me@db:5432/business_site
    expose:
      - "8000"
    depends_on:
      - db
    networks:
      - webnet

  db:
    image: postgres:16
    container_name: business_db
    environment:
      POSTGRES_DB: business_site
      POSTGRES_USER: business_app
      POSTGRES_PASSWORD: super-strong-password-change-me
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - webnet

  web:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: business_web
    depends_on:
      - backend
    ports:
      - "80:80"
    networks:
      - webnet

networks:
  webnet:
    driver: bridge

volumes:
  pgdata: