@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Optional base styles */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

@keyframes tech-grid {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-80px, -80px, 0);
  }
}

.animate-tech-grid {
  animation: tech-grid 40s linear infinite;
}