@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Optional base styles */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}